params {
  help = false

  // Output directory
  outdir = './consensus-results'

  // Either input reads as a samplesheet (csv) with headings "sample","bam" or a glob pattern
  samplesheet = false
  bam = false
  // Reference genome
  reference = false

  // Get top hit on gene coverage for the segments, segment names must be in reference header
  segments = 'HA NA PB2 PB1 PA NP MP NS'

  error_strategy='ignore' // 'ignore' or 'terminate'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    apptainer.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
  conda {
    conda.enabled = true
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'GET_REFERENCE_NAMES'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/get_reference_names", mode: 'copy']
  }
  withName: 'SPLIT_REFERENCE'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/split_reference", mode: 'copy']
  }
  withName: 'SAMTOOLS_SUBSET'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_subset", mode: 'copy']
  }
  withName: 'SAMTOOLS_INDEX'       {
    errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_index", mode: 'copy']
  }
  withName: 'VIRALCONSENSUS'       {
    //errorStrategy = params.error_strategy;
    publishDir = [ path: "${params.outdir}/viralconsensus", mode: 'copy']
  }
}

trace {
    enabled = true
    file = "$params.outdir/trace.txt"
}

manifest {
    name = 'j23414/bam-consensus'
    description = "A modular workflow for taking an bam alignment data and generating the consensus sequences."
    version = "0.0"
    mainScript = 'main.nf'
}